:root {
    --bg-color: #000314;
    --text-color: #fffcdd;
    --primary-color: #fded6c;
    --secondary-color: #0f3234;
    --border-radius: 10px;
    --button-color: var(--primary-color);
    --button-hover-color: #ffe83a;
    --link-color: var(--text-color);
    --navbar-bg-color: #000314;
    --navbar-hover-color: #000f66;
    --navbar-active-color: #060e3f;
    --division-line-color: #2c2a1a;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.content {
    width: fit-content;
    min-width: 40vw;
    max-width: min(500px, 95vw);
    margin: 0 auto;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

a {
    color: var(--link-color);
}

p {
    font-size: 1.2rem;
}

.button-link {
    display: inline-block;
    padding: 15px 25px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: var(--button-color);
    color: var(--bg-color);
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color .2s;
}

.button-link:hover {
    background-color: var(--button-hover-color);
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100vw - 1rem); /* - padding*2 */
    height: auto;
    border-bottom: 1px solid var(--division-line-color);
    height: 70px;
    position: relative;
    padding: .5rem;
}

.navbar > div {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: start;
    min-width: min(500px, 95vw);
    width: 40vw;
    position: fixed;
    background-color: var(--navbar-bg-color);
}

.navbar a.heading {
    font-size: 3rem;
    color: var(--text-color);
    text-decoration: none;
    font-weight: bold;
    position: relative;
    margin-right: 2rem;
    font-family: "trebuchet ms", 'Roboto', sans-serif;
}

.navbar .navbar-items > *, .navbar-item {
    font-size: 1.2rem;
    color: var(--text-color);
    text-decoration: none;
    padding: 20px 14px 20px 14px;
    border-radius: var(--border-radius);
    position: relative;
    cursor: pointer;
    transition: background-color .07s;
    text-transform: uppercase;
}

.navbar:not(.responsive) .navbar-items > *:hover, .navbar:not(.responsive) .navbar-item:hover {
    background-color: var(--navbar-hover-color);
}

.navbar-items > .active, .navbar-item.active {
    background-color: var(--navbar-active-color);
}

@media screen and (max-width: 450px) {
    .navbar .navbar-items > *, .navbar-item {
        text-transform: none;
        padding: 20px 10px;
    }

    .navbar a.heading {
        font-size: 2.5rem;
        margin-right: .3rem;
    }

    .navbar {
        padding: .5rem .1rem;
    }
}