:root {
    --bg-color: #000314;
    --text-color: #fefad0;
    --primary-color: #fded6c;
    --secondary-color: #0f3234;
    --border-radius: 10px;
    --button-color: var(--primary-color);
    --button-hover-color: #ffe83a;
    --link-color: var(--text-color);
    --navbar-bg-color: #000314;
    --division-line-color: #2c2a1a;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.content {
    width: fit-content;
    min-width: 40vw;
    max-width: min(400px, 90vw);
    margin: 0 auto;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1vw;
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

a {
    color: var(--link-color);
}

p {
    font-size: 1.2rem;
}

.button-link {
    display: inline-block;
    padding: 15px 25px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: var(--button-color);
    color: var(--bg-color);
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color .2s;
}

.button-link:hover {
    background-color: var(--button-hover-color);
}

.navbar {
    display: flex;
    align-items: center;
    align-content: center;
    position: fixed;
    width: 100vw;
    height: 70px;
    border-bottom: 1px solid var(--division-line-color);
    padding: .5rem;
    background-color: var(--navbar-bg-color);
}

.navbar a.heading {
    font-size: 3rem;
    color: var(--text-color);
    text-decoration: none;
    font-weight: bold;
    margin: 0 1rem;
    position: relative;
    padding: 11px 14px 11px 14px;
    font-family: "trebuchet ms", 'Roboto', sans-serif;
}