{% extends 'base.html' %}

{% block head %}
<title>py2exe - about</title>
{% endblock %}


{% block body %}
<div>
    <h1>py2exe - the first online python compiler</h1>
    <p>
        <b>py2exe</b> is a free online tool that compiles Python projects to executables in the cloud. It provides the simplest way to convert python files to exe from 
        both windows or linux environment.
        Whether you're a developer looking to share your Python application without requiring end-users to install 
        Python or simply aiming for seamless distribution, <b>py2exe</b> simplifies the process.
    </p>
    <p>This site is currently still in development. If you encounter any errors or if you have any idea on how to make it better, please email me at
         <a href="mailto:admin@py2exe.com">admin@py2exe.com</a>. The source code will soon be made public on github. <small>(2024-01-02)</small>
    </p>
    <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="cenekp" data-color="#5F7FFF" data-emoji="" data-font="Poppins" data-text="Buy me a coffee" data-outline-color="#000000" data-font-color="#ffffff" data-coffee-color="#FFDD00" ></script>
</div>

<script>
    document.getElementById("navbar-about").classList.add("active")
</script>
{% endblock %}