{% extends 'base.html' %}

{% block head %}
<title>py2exe - convert python to exe online</title>
<link href="https://unpkg.com/filepond@^4/dist/filepond.css" rel="stylesheet" />
<style>
    .filepond {
        width: 100%;
    }
</style>
{% endblock %}


{% block body %}
<div>
    <h1>Convert your python project to exe!</h1>
    <p>
        <b>py2exe.com</b> provides a simple way to convert your python files to windows executable (.exe).
    </p>
    <p>
        To convert your python project, please upload it below. You can upload a single <b>.py</b> file as well as a <b>zip</b> archive of multiple files. If you
        are uploading multiple files in zip, please name the main file "main.py" or "run.py".  
    </p>
</div>

<input type="file" 
    class="filepond"
    name="filepond" 
    data-max-files="1">

<script src="https://unpkg.com/filepond@^4/dist/filepond.js"></script>
<script src="{{ url_for('static', filename='js/convert.js') }}"></script>

<script>
    document.getElementById("navbar-convert").classList.add("active")
</script>
{% endblock %}