{% extends 'base.html' %}

{% block head %}
{% endblock %}


{% block body %}

<h1 class="page-heading">Welcome to the RWC Prague website</h1>
<p>Zde nejaky uvodni text - Lorem ipsum dolor, sit amet consectetur adipisicing elit. At labore, iure exercitationem odio, aliquid quo, voluptate aperiam in voluptas perferendis harum ipsam ex nobis culpa? Magnam ratione fugiat a ex? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel quis fugiat, officia eius aut at maxime itaque repellat, inventore a autem numquam obcaecati animi earum maiores, laboriosam magni sapiente deserunt. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam nulla vitae, fugit quaerat tenetur labore. Quam odit libero, dolores architecto, assumenda, magni temporibus facilis eaque officia ut nam fugit exercitationem.</p>

{% endblock %}