{% extends 'base.html' %}

{% block head %}
<style>
    .status {
        padding: 1rem;
        background-color: var(--secondary-color);
        display: inline-block;
        border-radius: var(--border-radius);
    }

    .download {
        margin: 1rem 0;
        font-size: 1.7rem;
    }
</style>
{% endblock %}


{% block body %}
<div>
    {% if download %}
        <h1>Conversion finished - <i>
            {% for filename in filenames %}
            <small>{{ filename }} </small>
            {% endfor %}
            </i></h1>
    {% else %}
        <h1>Your conversion is being processed - <i>
            {% for filename in filenames %}
            <small>{{ filename }} </small>
            {% endfor %}
            </i></h1>
        <p>It can take up to several minutes to process your python files depending on their complexity.
                You can watch the process below. Please refresh the page to update status.</p>
    {% endif %}
    
    {% if not download %}
    <div class="status">status: {{ status }}<a href="" style="padding-left: .5rem;"><i class="fa-solid fa-rotate-right"></i></a></div>
    {% endif %}
</div>

{% if download %}
<a class="button-link download" href="{{ download }}">DOWNLOAD <i class="fa fa-download"></i></a>
<a href="{{ url_for('convert') }}">convert another python file</a>
{% endif %}

{% endblock %}